<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>
      Thank your for Register News BUYCOOT
    </p>
    <p>
      You can get The lasteset News once a week
    </p>
    <p>if you have more, Let me us and we'll give original plan.</p>
    <p>Have a good News Time</p>
  </body>
</html>